@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("src/fonts/Montserrat-Light.ttf") format("ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("src/fonts/Montserrat-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("src/fonts/Montserrat-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}
* {
    font-family: "Montserrat", sans-serif;
}
.caja-logo{
	width: 100%;
	display: flex;
	justify-content:center;
}
.caja-infomain{
	display: flex;
	justify-content:center;
	flex-direction: column;
}
.caja-contenido{
	display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}
.main-login {
    display: flex;
    justify-content: center;
    background: linear-gradient(
        90deg,
        rgba(248, 248, 248, 1) 0%,
        rgba(255, 255, 255, 1) 100%
        );
}
.main-sidebar {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    max-width: 1280px;
    background-color: white;
}
.container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    /* max-width: 1280px; */
}
.container-login .hero {
    width: 70%;
}

.container-center {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    width: 400px;
}
.logo-platform {
    width: 100px;
}
.color-colum-one {
    background-color: white;
}
.color-colum-second {
    background-color: #f8f8f8;
}

/* Columnas */
.colu-4 {
    width: 40%;
}

.colu-8 {
    width: 60%;
    background: #f8f8f8;
    /* background: red; */
}

/* Formularios */
.form-login {
    padding: 1rem;
    width: 65%;
}
.input-form {
    margin: 1rem 0;
}
.input-form label {
    display: block;
    margin: 0.3rem 0;
}
.input-form input {
    display: block;
    width: 100%;
    height: 1.714rem;
    padding-left: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    -webkit-transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="submit"] {
    display: block;
    width: 103%;
    border-color: #002659 !important;
    background-color: #002659 !important;
    color: #ffffff !important;
    border: 1px solid transparent;
    padding: 0.786rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.358rem;
}
.copyright p {
    text-align: right;
    margin-right: 10px;
}
.hidden {
    display: none;
}

/* Sidebar  */
.sidebar-main {
    width: 260px;
    background-color: white;
}
.img-log {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.logo-sidebar {
    width: 134px;
}

.logo-plat-sidebar {
    width: 50px;
}

.navigation-main {
    padding-inline-start: 10px;
}
.navigation-main li {
    transition: transform 0.3s ease-in-out;
}
.navigation-main li:hover {
    transform: translateX(5px);
}
.nav-item {
    margin:0px 15px;
    padding: 10px 15px;
    list-style: none;
}
.nav-item a {
    text-decoration: none;
    color: #625f6e;
    padding: 10px 0px 10px 0px;
    line-height: 1.45;
    margin-left: 5px;
}
.far, .fas {
    margin-right: 10px !important;
}
.header-item{
    font-weight: 500;
    color: #A6A4B0;
}
.card {
    margin: 2rem !important;
}
.main-body-page {
    width: 100%;
}
.card-content{
    width: 250px;
    margin: 2.5rem;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    transition: transform 0.3s ease-in-out;

}
.card-content:hover{
    transform: scale(1.09);
}
/* .img-logo{
        width: 100px;
} */

.img-logo img{
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    height: 160px;
    object-fit: cover
}
.img-logo-gestionar-partido img{
    width: 20%;
    max-width: 250px;
    object-fit: cover
}
.nombre-partido{
    padding-top: 10px;
    text-align: center;
}
.responsive{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav-header{
    display: flex;
    padding: 1rem;
}
.col-lg-12.col-xl-6 {
    display: none;
}
tr.odd {
    border-bottom: 0.5px solid #ececec;
}
.navigation li a i, .navigation li a svg {
    height: 20px !important;
    width: 24px !important;
    font-size: 20px !important;
    margin-right: 1.38rem !important;
}
.id_mapa_ver{
                display: none;
            }
@media only screen and (max-width: 769px) {
    .imagen-login {
        display: none;
    }
    .hidden {
        display: initial;
    }
    /* .container-login img {
                width: 50%;
        } */
    .logo-platform {
        width: 100px;
    }
    .colu-4 {
        width: 100%;
    }
    .form-login {
        margin-top: -300px;
    }
}

@media only screen and (max-width: 375px) {
    .imagen-login {
        display: none;
    }
    .hidden {
        display: initial !important;
        visibility: initial !important;
    }
    .logo {
        width: 200px;
    }
    .logo-platform {
        width: 50px;
    }
    .colu-4 {
        width: 100%;
    }
    .form-login {
        margin-top: -180px;
    }
}
